In [4]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\91939\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\91939\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\91939\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Requirement already satisfied: requests in c:\users\91939\anaconda3\lib\site-packages (2.27.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\91939\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\91939\anaconda3\lib\site-packages (from requests) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\91939\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\91939\anaconda3\lib\site-packages (from requests) (2021.10.8)

In [10]:
from bs4 import BeautifulSoup as soup
import requests
import pandas as pd

In [ ]:
#1) Write a python program to display all the header tags from wikipedia.org.

In [30]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
html = urlopen('https://en.wikipedia.org/wiki/Main_Page')
bs = BeautifulSoup(html, "html.parser")
titles = bs.find_all(['h1', 'h2','h3','h4','h5','h6'])
print('List all the header tags :', *titles, sep='\n\n')

List all the header tags :

<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none"><span class="mw-page-title-main">Main Page</span></h1>

<h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 class="vector-menu-heading" id="p-personal-label">
<span class="vector-menu-heading-label">Personal tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-namespaces-label">
<span class="vector-menu-heading-label">Namespaces</span>
</h3>

<h3 class="vector-menu-heading" id="p-views-label">
<span class="vector-menu-heading-label">Views</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 class="vector-menu-heading" id="p-navigation-label">
<span class="vector-menu-heading-label">Navigation</span>
</h3>

<h3 class="vector-menu-heading" id="p-interaction-label">
<span class="vector-menu-heading-label">Contribute</span>
</h3>

<h3 class="vector-menu-heading" id="p-tb-label">
<span class="vector-menu-heading-label">Tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span class="vector-menu-heading-label">Print/export</span>
</h3>

<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span class="vector-menu-heading-label">In other projects</span>
</h3>

<h3 class="vector-menu-heading" id="p-lang-label">
<span class="vector-menu-heading-label">Languages</span>
</h3>

In [ ]:
#2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)
#and make dataframe

In [14]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd
 
 
page2=requests.get("https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc")  #Contains top 50 movies
page2a=requests.get("https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start=51&ref_=adv_nxt")    #Contains corresponding top 50 movies

page2          #As the response is 200, we can proceed with this url
page2a         #As the response is 200, we can proceed with this url

soup2= BeautifulSoup(page2.content)
soup2a= BeautifulSoup(page2a.content)

name=[]            #Empty list to store movie names
for i in soup2.find_all('h3',class_="lister-item-header"):
    l=len(i.text.split())
    name.append(' '.join(i.text.split()[1:l-1]))          #To store only the movie name as a string
for i in soup2a.find_all('h3',class_="lister-item-header"):
    l=len(i.text.split())
    name.append(' '.join(i.text.split()[1:l-1]))

rating=[]         #Empty list to store rating
for i in soup2.find_all('div',class_="inline-block ratings-imdb-rating"):
    rating.append(' '.join(i.text.split()))               #To store only the rating as a string
for i in soup2a.find_all('div',class_="inline-block ratings-imdb-rating"):
    rating.append(' '.join(i.text.split()))

year=[]           #Empty list to store year of release
for i in soup2.find_all('span',class_="lister-item-year text-muted unbold"):
    year.append(i.text.replace('(','').replace(')',''))    #To store only the year of release as a string
for i in soup2a.find_all('span',class_="lister-item-year text-muted unbold"):
    year.append(i.text.replace('(','').replace(')',''))
    
s_no=[]
for j in range(1,101):
    s_no.append(j)

pd.set_option("display.max_rows", None, "display.max_columns", None)                #To display the entire dataframe
df=pd.DataFrame({'Name':name, 'Rating':rating, 'Year of Release': year}, index=s_no)
print("IMDB’s Top rated 100 movies' data")
df

IMDB’s Top rated 100 movies' data

                                                  Name Rating Year of Release
1                             The Shawshank Redemption    9.3            1994
2                                        The Godfather    9.2            1972
3                                      The Dark Knight    9.0            2008
4        The Lord of the Rings: The Return of the King    9.0            2003
5                                     Schindler's List    9.0            1993
6                                The Godfather Part II    9.0            1974
7                                         12 Angry Men    9.0            1957
8                                         Pulp Fiction    8.9            1994
9                                            Inception    8.8            2010
10               The Lord of the Rings: The Two Towers    8.8            2002
11                                          Fight Club    8.8            1999
12   The Lord of the Rings: The Fellowship of the Ring    8.8            2001
13                                        Forrest Gump    8.8            1994
14                     Il buono, il brutto, il cattivo    8.8            1966
15                                          The Matrix    8.7            1999
16                                          Goodfellas    8.7            1990
17                             The Empire Strikes Back    8.7            1980
18                     One Flew Over the Cuckoo's Nest    8.7            1975
19                                        Interstellar    8.6            2014
20                                      Cidade de Deus    8.6            2002
21                       Sen to Chihiro no kamikakushi    8.6            2001
22                                 Saving Private Ryan    8.6            1998
23                                      The Green Mile    8.6            1999
24                                     La vita è bella    8.6            1997
25                                               Se7en    8.6            1995
26                          Terminator 2: Judgment Day    8.6            1991
27                            The Silence of the Lambs    8.6            1991
28                                           Star Wars    8.6            1977
29                                             Seppuku    8.6            1962
30                                Shichinin no samurai    8.6            1954
31                               It's a Wonderful Life    8.6            1946
32                                        Gisaengchung    8.5            2019
33                                            Whiplash    8.5            2014
34                                    The Intouchables    8.5            2011
35                                        The Prestige    8.5            2006
36                                        The Departed    8.5            2006
37                                         The Pianist    8.5            2002
38                                           Gladiator    8.5            2000
39                                  American History X    8.5            1998
40                                  The Usual Suspects    8.5            1995
41                                                Léon    8.5            1994
42                                       The Lion King    8.5            1994
43                               Nuovo Cinema Paradiso    8.5            1988
44                                      Hotaru no haka    8.5            1988
45                                  Back to the Future    8.5            1985
46                                      Apocalypse Now    8.5            1979
47                                               Alien    8.5            1979
48                        Once Upon a Time in the West    8.5            1968
49                                              Psycho    8.5            1960
50                                         Rear Window    8.5            1954
51                                          Casablanca    8.5            1942
52                                        Modern Times    8.5            1936
53                                         City Lights    8.5            1931
54                                          Capharnaüm    8.4            2018
55                                           Joker (I)    8.4          I 2019
56                                      Kimi no na wa.    8.4            2016
57                   Spider-Man: Into the Spider-Verse    8.4            2018
58                                   Avengers: Endgame    8.4            2019
59                              Avengers: Infinity War    8.4            2018
60                                            Coco (I)    8.4          I 2017
61                                    Django Unchained    8.4            2012
62                                   Top Gun: Maverick    8.4            2022
63                               The Dark Knight Rises    8.4            2012
64                                            3 Idiots    8.4            2009
65                                              WALL·E    8.4            2008
66                                 The Lives of Others    8.4            2006
67                                            Oldeuboi    8.4            2003
68                                             Memento    8.4            2000
69                                     American Beauty    8.4            1999
70                                       Mononoke-hime    8.4            1997
71                                          Braveheart    8.4            1995
72                                        Idi i smotri    8.4            1985
73                                              Aliens    8.4            1986
74                                             Amadeus    8.4            1984
75                             Raiders of the Lost Ark    8.4            1981
76                                            Das Boot    8.4            1981
77                                         The Shining    8.4            1980
78                                   Tengoku to jigoku    8.4            1963
79   Dr. Strangelove or: How I Learned to Stop Worr...    8.4            1964
80                         Witness for the Prosecution    8.4            1957
81                                      Paths of Glory    8.4            1957
82                                        Sunset Blvd.    8.4            1950
83                                  The Great Dictator    8.4            1940
84                                              Jagten    8.3            2012
85                                         Toy Story 3    8.3            2010
86                                Inglourious Basterds    8.3            2009
87               Eternal Sunshine of the Spotless Mind    8.3            2004
88                                 Requiem for a Dream    8.3            2000
89                                   Good Will Hunting    8.3            1997
90                                           Toy Story    8.3            1995
91                                      Reservoir Dogs    8.3            1992
92                         Once Upon a Time in America    8.3            1984
93          Star Wars: Episode VI - Return of the Jedi    8.3            1983
94                               2001: A Space Odyssey    8.3            1968
95                                  Lawrence of Arabia    8.3            1962
96                                  North by Northwest    8.3            1959
97                                             Vertigo    8.3            1958
98                                 Singin' in the Rain    8.3            1952
99                                        Citizen Kane    8.3            1941
100                  M - Eine Stadt sucht einen Mörder    8.3            1931

In [13]:

#3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and storing  in dataframe


#https://www.imdb.com/india/top-rated-indian-movies/

page=requests.get("https://www.imdb.com/india/top-rated-indian-movies/?sort=ir,desc&mode=simple&page=1")  

page                 #As the response is 200, we can proceed with this url
             
soup= BeautifulSoup(page3.content)

a=1             #counters to keep top 100 indian movies
b=1
c=1

name=[]            #Empty list to store movie names
for i in soup.find_all('td',class_="titleColumn"):
    l=len(i.text.split())
    if a<=100:                                                #To store top 100 movies
        name.append(' '.join(i.text.split()[1:l-1]))          #To store only the movie name as a string
        a=a+1

rating=[]         #Empty list to store rating
for i in soup.find_all('td',class_="ratingColumn imdbRating"):
    if b<=100:
        rating.append(' '.join(i.text.split()))               #To store only the rating as a string
        b=b+1

year=[]           #Empty list to store year of release
for i in soup.find_all('span',class_="secondaryInfo"):
    if c<=100:
        year.append(i.text.replace('(','').replace(')',''))    #To store only the year of release as a string
        c=c+1
        
s_no=[]
for j in range(1,101):
    s_no.append(j)

pd.set_option("display.max_rows", None, "display.max_columns", None)                #To display the entire dataframe
df=pd.DataFrame({'Name':name, 'Rating':rating, 'Year of Release': year}, index=s_no)
print("IMDB’s Top rated 100 movies' data")
df

IMDB’s Top rated 100 movies' data

                                    Name Rating Year of Release
1                                Kantara    8.5            2022
2    Ramayana: The Legend of Prince Rama    8.5            1993
3             Rocketry: The Nambi Effect    8.4            2022
4                                Nayakan    8.4            1987
5                             Anbe Sivam    8.4            2003
6                                Golmaal    8.4            1979
7                               Jai Bhim    8.4            2021
8                            777 Charlie    8.4            2022
9                      Pariyerum Perumal    8.4            2018
10                              3 Idiots    8.4            2009
11                           Apur Sansar    8.3            1959
12                      Manichitrathazhu    8.3            1993
13                          Black Friday    8.3            2004
14                     Kumbalangi Nights    8.3            2019
15                       Soorarai Pottru    8.3            2020
16                                 #Home    8.3            2021
17                      Taare Zameen Par    8.3            2007
18                     C/o Kancharapalem    8.3            2018
19                              Kireedam    8.3            1989
20                                Dangal    8.3            2016
21                                Kaithi    8.3            2019
22                                Jersey    8.3            2019
23                                    96    8.2            2018
24                                Asuran    8.2            2019
25                          Thevar Magan    8.2            1992
26                            Visaaranai    8.2            2015
27                             Natsamrat    8.2            2016
28                            Drishyam 2    8.2            2021
29                            Thalapathi    8.2            1991
30                       Pather Panchali    8.2            1955
31                   Sarpatta Parambarai    8.2            2021
32                    Jaane Bhi Do Yaaro    8.2            1983
33                          Thani Oruvan    8.2            2015
34                          Sardar Udham    8.2            2021
35                             Aparajito    8.2            1956
36                              Drishyam    8.2            2013
37                          Vada Chennai    8.2            2018
38                     Khosla Ka Ghosla!    8.2            2006
39                            Sita Ramam    8.2            2022
40                              Ratsasan    8.1            2018
41                         Chupke Chupke    8.1            1975
42                               Anniyan    8.1            2005
43                               Peranbu    8.1            2018
44                                 Satya    8.1            1998
45                              Mahanati    8.1            2018
46                    Gangs of Wasseypur    8.1            2012
47                                Premam    8.1            2015
48                        Bangalore Days    8.1            2014
49           Agent Sai Srinivasa Athreya    8.1            2019
50                          Super Deluxe    8.1            2019
51                             Devasuram    8.1            1993
52                              Drishyam    8.1            2015
53                    Bhaag Milkha Bhaag    8.1            2013
54                          Vikram Vedha    8.1            2017
55                                Vikram    8.1            2022
56                             Andhadhun    8.1            2018
57                                 Guide    8.1            1965
58                               Tumbbad    8.1            2018
59                 Kannathil Muthamittal    8.1            2002
60                                 Aruvi    8.1            2016
61                              Chithram    8.1            1988
62              Zindagi Na Milegi Dobara    8.1            2011
63                                Shahid    8.1            2012
64                                Sairat    8.1            2016
65                                Iruvar    8.1            1997
66                      Paan Singh Tomar    8.1            2012
67                            Chhichhore    8.1            2019
68                Swades: We, the People    8.1            2004
69                                Pyaasa    8.1            1957
70                        Chak De! India    8.1            2007
71                             Mudhalvan    8.1            1999
72                   Munna Bhai M.B.B.S.    8.1            2003
73                                 Black    8.1            2005
74              Uri: The Surgical Strike    8.1            2019
75                              Spadikam    8.1            1995
76                Jo Jeeta Wohi Sikandar    8.1            1992
77                          Pudhu Pettai    8.1            2006
78                Dhuruvangal Pathinaaru    8.1            2016
79                             Papanasam    8.1            2015
80     Lagaan: Once Upon a Time in India    8.0            2001
81                                 Queen    8.0            2013
82                            Article 15    8.0            2019
83                                Talvar    8.0            2015
84                            Hera Pheri    8.0            2000
85                               Mandela    8.0            2021
86                                    PK    8.0            2014
87                         Soodhu Kavvum    8.0            2013
88                       OMG: Oh My God!    8.0            2012
89                             Sarfarosh    8.0            1999
90                                Sholay    8.0            1975
91                                 Udaan    8.0            2010
92                        Kaakkaa Muttai    8.0            2014
93                           Jigarthanda    8.0            2014
94                                Barfi!    8.0            2012
95            The Legend of Bhagat Singh    8.0            2002
96                           Ustad Hotel    8.0            2012
97              Theeran Adhigaaram Ondru    8.0            2017
98                       Rang De Basanti    8.0            2006
99           Baahubali 2: The Conclusion    8.0            2017
100                               Angoor    8.0            1982

In [9]:
#4) Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) 

#https://presidentofindia.nic.in/former-presidents.html

page=requests.get("https://presidentofindia.nic.in/former-presidents.htm")
page           #As the response is 200, we can proceed with this url

soup= BeautifulSoup(page4.content)

pres=[]                   #Empty list to store names of respected former presidents of India
for i in soup.find_all('div',class_="presidentListing"):
    l=len(i.text.split())
    for j in range(0,l):
        a=i.text.split()[j]
        if a[0]=='(':
            k=j
            break
    pres.append(' '.join(i.text.split()[0:k]))          #To store only the names of respected former presidents of India

tf=[]
z=1
for i in soup.find_all('div',class_="presidentListing"):
    l=len(i.text.split())
    for j in range(0,l):
        a=i.text.split()[j]
        if a=='Office:':
            k=j
            break
    if z<=3:
        tf.append(' '.join(i.text.split()[k+1:l-1]))    #To store only the term of office of respected former presidents of India
        z=z+1
    else:
        tf.append(' '.join(i.text.split()[k+1:l])) 

pd.set_option("display.max_rows", None, "display.max_columns", None)
df=pd.DataFrame({'Name':pres, 'Term of Office':tf})
print("The list of respected former presidents of India")
df.set_index('Name', inplace=True)
df

The list of respected former presidents of India

                                                                 Term of Office
Name
Shri Ram Nath Kovind                             25 July, 2017 to 25 July, 2022
Shri Pranab Mukherjee                            25 July, 2012 to 25 July, 2017
Smt Pratibha Devisingh Patil                     25 July, 2007 to 25 July, 2012
DR. A.P.J. Abdul Kalam        25 July, 2002 to 25 July, 2007 http://abdulkal...
Shri K. R. Narayanan                             25 July, 1997 to 25 July, 2002
Dr Shankar Dayal Sharma                          25 July, 1992 to 25 July, 1997
Shri R Venkataraman                              25 July, 1987 to 25 July, 1992
Giani Zail Singh                                 25 July, 1982 to 25 July, 1987
Shri Neelam Sanjiva Reddy                        25 July, 1977 to 25 July, 1982
Dr. Fakhruddin Ali Ahmed                   24 August, 1974 to 11 February, 1977
Shri Varahagiri Venkata Giri  3 May, 1969 to 20 July, 1969 and 24 August, 19...
Dr. Zakir Husain                                    13 May, 1967 to 3 May, 1969
Dr. Sarvepalli Radhakrishnan                       13 May, 1962 to 13 May, 1967
Dr. Rajendra Prasad                            26 January, 1950 to 13 May, 1962

Q7# Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :) Headline
ii) Time
iii) News Link

In [12]:
from bs4 import BeautifulSoup as soup
import requests
import pandas as pd

page=requests.get("https://www.cnbc.com/world/?region=world")
page   #As the response is 200, we can proceed with this url

soup= BeautifulSoup(page7.content)

headline=[]                 #To store headlines
for i in soup.find_all('a',class_="LatestNews-headline"):
    headline.append(i.get('title'))
    
time=[]                    #To store time
for i in soup.find_all('time',class_="LatestNews-timestamp"):
    time.append(i.text)

url=[]                   #To store the urls
for i in soup.find_all('a',class_="LatestNews-headline"):
    url.append(i.get('href'))

l=len(headline)
s_no=[]
for j in range(1,l+1):
    s_no.append(j)

pd.set_option("display.max_rows", None, "display.max_columns", None)
df=pd.DataFrame({'Headline':headline, 'Time':time, 'News links':url}, index=s_no)
print("News details")
df

News details

,Headline,Time,News links
1,Russia halts participation in an agreement to ...,9 Hours Ago,https://www.cnbc.com/2022/10/29/russia-halts-p...
2,Brooklyn Nets condemn Kyrie Irving for promoti...,11 Hours Ago,https://www.cnbc.com/2022/10/29/brooklyn-nets-...
3,"These dads drove cross country, raised $156,00...",11 Hours Ago,https://www.cnbc.com/2022/10/29/dads-road-trip...
4,How 'The 5 Love Languages' stays relevant 30 y...,12 Hours Ago,https://www.cnbc.com/2022/10/29/how-the-5-love...
5,I raised 2 successful CEOs and a doctor. Here'...,12 Hours Ago,https://www.cnbc.com/2022/10/29/i-raised-2-suc...
6,Here's a look at some legal and personal ramif...,12 Hours Ago,https://www.cnbc.com/2022/10/29/here-are-the-l...
7,Issa Rae shares her best career advice and how...,13 Hours Ago,https://www.cnbc.com/2022/10/29/issa-rae-share...
8,These people are making real money in Horizon ...,13 Hours Ago,https://www.cnbc.com/2022/10/29/metaverse-entr...
9,"What 'millionaire tax' plans on California, Ma...",13 Hours Ago,https://www.cnbc.com/2022/10/29/what-millionai...
10,A 35-year-old cult classic from John Carpenter...,13 Hours Ago,https://www.cnbc.com/2022/10/29/john-carpenter...
11,"From Chipotle to Wendy’s, here are 7 places to...",13 Hours Ago,https://www.cnbc.com/2022/10/29/where-to-score...
12,Twitter is now owned by Elon Musk — here's a b...,14 Hours Ago,https://www.cnbc.com/2022/10/29/a-brief-histor...
13,The market is moving in-line with seasonal pat...,14 Hours Ago,https://www.cnbc.com/2022/10/29/the-market-is-...
14,Stocks reporting earnings in the week ahead th...,14 Hours Ago,https://www.cnbc.com/2022/10/29/earnings-resul...
15,Goldman Sachs analysts say these are the best ...,14 Hours Ago,https://www.cnbc.com/2022/10/29/goldman-sachs-...
16,Derek and Hannah Jeter sign multiyear deal wit...,"October 28, 2022",https://www.cnbc.com/2022/10/28/derek-jeter-pr...
17,Cramer on Friday named travel as one of five r...,"October 28, 2022",https://www.cnbc.com/2022/10/28/jim-cramer-say...
18,Cramer's lightning round: Let's stay with Fron...,"October 28, 2022",https://www.cnbc.com/2022/10/28/cramers-lightn...
19,Cramer's week ahead: There could be 'real sign...,"October 28, 2022",https://www.cnbc.com/2022/10/28/cramers-week-a...
20,Co-defendant in SEC civil fraud suit against f...,"October 28, 2022",https://www.cnbc.com/2022/10/28/fake-billionai...
21,"UN details horrifying accounts of rape, tortur...","October 28, 2022",https://www.cnbc.com/2022/10/28/russia-ukraine...
22,Stocks shrug off tech's troubles as Street awa...,"October 28, 2022",https://www.cnbc.com/2022/10/28/stocks-shrugge...
23,Pro Picks: Watch all of Friday's big stock cal...,"October 28, 2022",https://www.cnbc.com/2022/10/28/pro-picks-watc...
24,GM temporarily suspends advertising on Twitter...,"October 28, 2022",https://www.cnbc.com/2022/10/28/gm-temporarily...
25,Big Tech falters on dreary earnings — Meta has...,"October 28, 2022",https://www.cnbc.com/2022/10/28/big-tech-falte...
26,93% of daters want a partner who is emotionall...,"October 28, 2022",https://www.cnbc.com/2022/10/28/how-to-be-emot...
27,Omicron subvariants resistant to key antibody ...,"October 28, 2022",https://www.cnbc.com/2022/10/28/omicron-subvar...
28,Jeep parent Stellantis offering buyouts to som...,"October 28, 2022",https://www.cnbc.com/2022/10/28/chrysler-owner...
29,Musk plans Twitter content moderation council ...,"October 28, 2022",https://www.cnbc.com/2022/10/28/musk-plans-twi...
30,"Why Bryan Cranston, Aaron Paul work 17-hour da...","October 28, 2022",https://www.cnbc.com/2022/10/28/bryan-cranston...

In [8]:
#8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days. 

#Scrape below mentioned details :
#i) Paper Title 
#ii) Authors
#iii) Published Date 
#iv) Paper URL 
page=requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")
page   #As the response is 200, we can proceed with this url

soup= BeautifulSoup(page8.content)

paper_title=[]           #To store the paper titles
for i in soup.find_all('h2',class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"):
    paper_title.append(i.text)

authors=[]               #To store the author names
for i in soup.find_all('span',class_="sc-1w3fpd7-0 pgLAT"):
    authors.append(i.text)
    
date=[]                  #To store the publication date
for i in soup.find_all('span',class_="sc-1thf9ly-2 bKddwo"):
    date.append(i.text)

url=[]                   #To store the urls
for i in soup.find_all('a',class_="sc-5smygv-0 nrDZj"):
    url.append(i.get('href'))

l=len(paper_title)
s_no=[]
for j in range(1,l+1):
    s_no.append(j)

pd.set_option("display.max_rows", None, "display.max_columns", None)
df=pd.DataFrame({'Paper Titles':paper_title, 'Authors':authors, 'Date of Publication':date, 'Paper Links':url}, index=s_no)
print("The details of most downloaded articles from AI in last 90 days")
df

The details of most downloaded articles from AI in last 90 days

,Paper Titles,Authors,Date of Publication,Paper Links
1,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
2,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
3,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
4,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
5,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
6,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
7,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
8,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
9,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
10,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
11,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
12,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
13,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
14,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
15,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
16,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
17,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
19,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
20,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
21,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
22,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
23,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
24,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
25,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

# 9) Write a python program to scrape mentioned details from dineout.co.in :
i) Restaurant name
ii) Cuisine
iii) Location 
iv) Ratings
v) Image URL

In [16]:

page=requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special")
page   #As the response is 200, we can proceed with this url

soup= BeautifulSoup(page9.content)

r_name=[]           #To store the restaurant name
for i in soup.find_all('a',class_="restnt-name ellipsis"):
    r_name.append(i.text)

cuisine=[]           #To store the cuisine
for i in soup.find_all('span',class_="double-line-ellipsis"):
    cuisine.append(' '.join(i.text.split()[6:]))
cuisine

location=[]         #To store location
for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    location.append(i.text)
location

ratings=[]          #To store ratings
for i in soup.find_all('div',class_="restnt-rating rating-4"):
    ratings.append(i.text)

images=[]           #to store images
for i in soup.find_all('img',class_="no-img"):
    images.append(i['data-src'])
    
images

pd.set_option("display.max_rows", None, "display.max_columns", None)
df=pd.DataFrame({'Restaurant Name':r_name, 'Cuisine':cuisine, 'Location':location, 'Ratings':ratings, 'Image URL':images})
print("The details from dineout.co.in")
df.set_index('Restaurant Name', inplace=True)
df

The details from dineout.co.in

,Cuisine,Location,Ratings,Image URL
Restaurant Name,,,,
Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.6,https://im1.dineout.co.in/images/uploads/resta...
The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...

# 10 Write a python program to scrape the details of top publications from Google Scholar from 
#https://scholar.google.com/citations?view_op=top_venues&hl=en
i) Rank 
ii) Publication
iii) h5-index
 iv) h5-median

In [6]:
page = requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en') # Send request to webserver to get the source code

soup = BeautifulSoup(page.content) # To Assign the page content to the variable soup
soup

publications = []
rank = []
h5index = []
h5median = []

# Assigning publication name to the variable
for title in soup.find_all('td', class_='gsc_mvt_t'):
    publications.append(title.text)
publications

# Assigning rank to the variable
for title in soup.find_all('td', class_='gsc_mvt_p'):
    rank.append(title.text)
rank

# Assigning h5_index to the variable
for title in soup.find_all('a', class_='gs_ibl gsc_mp_anchor'):
    h5index.append(title.text)
h5index

# Assigning h5_median to the variable
for title in soup.find_all('span', class_='gs_ibl gsc_mp_anchor'):
    h5median.append(title.text)
h5median

# Assigning data to the Dataframe
import pandas as pd
data = pd.DataFrame()
data['Rank'] = rank
data['Publication'] = publications
data['h5-index'] = h5index
data['h5-median'] = h5median
data

    Rank                                        Publication h5-index h5-median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]

6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
b) Top 10 ODI Batsmen along with the records of their team and rating.
c) Top 10 ODI bowlers along with the records of their team and rating.

In [17]:
page6a=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
page6a   #As the response is 200, we can proceed with this url

soup6a= BeautifulSoup(page6a.content)

a=soup6a.find('tr',class_="rankings-block__banner")    #Store the highest ranker
t=[]
m=[]
p=[]
r=[]
l=len(a.text.split())
for j in range(1,l):
    b=a.text.split()[j]
    if b[0]=='1' or b[0]=='2' or b[0]=='3' or b[0]=='4' or b[0]=='5' or b[0]=='6' or b[0]=='7' or b[0]=='8' or b[0]=='9':
        k=j
        break
t.append(' '.join(a.text.split()[1:k-1]))
m.append(''.join(a.text.split()[k]))
p.append(''.join(a.text.split()[k+1]))
r.append(''.join(a.text.split()[k+2]))

z=1                                #Counter to get only top 10
for i in soup6a.find_all('tr',class_="table-body"):
    if z<=9:
        l=len(i.text.split())
        for j in range(1,l):
            b=i.text.split()[j]
            if b[0]=='1' or b[0]=='2' or b[0]=='3' or b[0]=='4' or b[0]=='5' or b[0]=='6' or b[0]=='7' or b[0]=='8' or b[0]=='9':
                k=j
                break
        t.append(' '.join(i.text.split()[1:k-1]))
        m.append(''.join(i.text.split()[k]))
        p.append(''.join(i.text.split()[k+1]))
        r.append(''.join(i.text.split()[k+2]))
        z=z+1
              
s_no=[]
for j in range(1,11):
    s_no.append(j)

pd.set_option("display.max_rows", None, "display.max_columns", None)
df6a=pd.DataFrame({'Team':t, 'Matches':m, 'Points':p, 'Ratings':r}, index=s_no)
print("Top 10 ODI teams in women’s cricket along with the records for matches, points and rating")
df6a

Top 10 ODI teams in women’s cricket along with the records for matches, points and rating

            Team Matches Points Ratings
1      Australia      18  3,061     170
2   South Africa      26  3,098     119
3        England      25  2,904     116
4          India      27  2,820     104
5    New Zealand      24  2,425     101
6    West Indies      24  2,334      97
7     Bangladesh      12    932      78
8       Pakistan      21  1,237      59
9        Ireland      11    516      47
10     Sri Lanka       8    353      44

In [18]:
page6b=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")
page6b   #As the response is 200, we can proceed with this url

soup6b= BeautifulSoup(page6b.content)

a=soup6b.find('tr',class_="rankings-block__banner")    #Store the highest ranker
p=[]
t=[]
r=[]
l=len(a.text.split())
for j in range(2,l):
    b=a.text.split()[j]
    if b[0]=='9' or b[0]=='8' or b[0]=='7' or b[0]=='6' or b[0]=='5' or b[0]=='4' or b[0]=='1':
        k=j
        break
if a.text.split()[1]=='(0)':
    p.append(' '.join(a.text.split()[2:k-1]))
    t.append(''.join(a.text.split()[k-1]))
    r.append(''.join(a.text.split()[k]))
else:
    p.append(' '.join(a.text.split()[15:k-1]))
    t.append(''.join(a.text.split()[k-1]))
    r.append(''.join(a.text.split()[k]))

z=1                                #Counter to get only top 10
for i in soup6b.find_all('tr',class_="table-body"):
    if z<=9:
        l=len(i.text.split())
        for j in range(2,l):
            b=i.text.split()[j]
            if b[0]=='9' or b[0]=='8' or b[0]=='7' or b[0]=='6' or b[0]=='5' or b[0]=='4' or b[0]=='1':
                k=j
                break
        if i.text.split()[1]=='(0)':
            p.append(' '.join(i.text.split()[2:k-1]))
            t.append(''.join(i.text.split()[k-1]))
            r.append(''.join(i.text.split()[k]))
        else:
            p.append(' '.join(i.text.split()[15:k-1]))
            t.append(''.join(i.text.split()[k-1]))
            r.append(''.join(i.text.split()[k]))
        z=z+1
              
s_no=[]
for j in range(1,11):
    s_no.append(j)
    
pd.set_option("display.max_rows", None, "display.max_columns", None)
df6b=pd.DataFrame({'Batting Player':p, 'Team':t, 'Rating':r}, index=s_no)
print("Top 10 women’s ODI Batting players along with the records of their team and rating.")
df6b

Top 10 women’s ODI Batting players along with the records of their team and rating.

         Batting Player Team Rating
1          Alyssa Healy  AUS    785
2           Beth Mooney  AUS    749
3       Laura Wolvaardt   SA    732
4        Natalie Sciver  ENG    725
5      Harmanpreet Kaur  IND    716
6       Smriti Mandhana  IND    714
7           Meg Lanning  AUS    710
8        Rachael Haynes  AUS    701
9     Amy Satterthwaite   NZ    661
10  Chamari Athapaththu   SL    655

In [19]:
page6c=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
page6c   #As the response is 200, we can proceed with this url

soup6c= BeautifulSoup(page6c.content)

a=soup6c.find('tr',class_="rankings-block__banner")    #Store the highest ranker
p=[]
t=[]
r=[]
l=len(a.text.split())
for j in range(2,l):
    b=a.text.split()[j]
    if b[0]=='1' or b[0]=='2' or b[0]=='3'  or b[0]=='4' or b[0]=='5' or b[0]=='6' or b[0]=='7' or b[0]=='8' or b[0]=='9':
        k=j
        break
if a.text.split()[1]=='(0)':
    p.append(' '.join(a.text.split()[2:k-1]))
    t.append(''.join(a.text.split()[k-1]))
    r.append(''.join(a.text.split()[k]))
else:
    p.append(' '.join(a.text.split()[15:k-1]))
    t.append(''.join(a.text.split()[k-1]))
    r.append(''.join(a.text.split()[k]))

z=1                                #Counter to get only top 10
for i in soup6c.find_all('tr',class_="table-body"):
    if z<=9:
        l=len(i.text.split())
        for j in range(2,l):
            b=i.text.split()[j]
            if b[0]=='1' or b[0]=='2' or b[0]=='3'  or b[0]=='4' or b[0]=='5' or b[0]=='6' or b[0]=='7' or b[0]=='8' or b[0]=='9':
                k=j
                break
        if i.text.split()[1]=='(0)':
            p.append(' '.join(i.text.split()[2:k-1]))
            t.append(''.join(i.text.split()[k-1]))
            r.append(''.join(i.text.split()[k]))
        else:
            p.append(' '.join(i.text.split()[15:k-1]))
            t.append(''.join(i.text.split()[k-1]))
            r.append(''.join(i.text.split()[k]))
        z=z+1
              
s_no=[]
for j in range(1,11):
    s_no.append(j)

pd.set_option("display.max_rows", None, "display.max_columns", None)
df6c=pd.DataFrame({'All Rounder':p, 'Team':t, 'Rating':r}, index=s_no)
print("Top 10 women’s ODI all-rounder along with the records of their team and rating.")
df6c

Top 10 women’s ODI all-rounder along with the records of their team and rating.

         All Rounder Team Rating
1    Hayley Matthews   WI    380
2       Ellyse Perry  AUS    374
3     Natalie Sciver  ENG    357
4        Amelia Kerr   NZ    356
5     Marizanne Kapp   SA    349
6      Deepti Sharma  IND    322
7   Ashleigh Gardner  AUS    270
8      Jess Jonassen  AUS    246
9     Jhulan Goswami  IND    214
10   Katherine Brunt  ENG    207

In [ ]:
5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
b) Top 10 ODI Batsmen along with the records of their team and rating.
c) Top 10 ODI bowlers along with the records of their team and rating.

In [20]:
# 5a. Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape: a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating. 

page5a=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
page5a   #As the response is 200, we can proceed with this url

soup5a= BeautifulSoup(page5a.content)

a=soup5a.find('tr',class_="rankings-block__banner")    #Store the highest ranker
t=[]
m=[]
p=[]
r=[]
l=len(a.text.split())
for j in range(1,l):
    b=a.text.split()[j]
    if b[0]=='1' or b[0]=='2' or b[0]=='3' or b[0]=='4' or b[0]=='5':
        k=j
        break
t.append(' '.join(a.text.split()[1:k-1]))
m.append(''.join(a.text.split()[k]))
p.append(''.join(a.text.split()[k+1]))
r.append(''.join(a.text.split()[k+2]))

z=1                                #Counter to get only top 10
for i in soup5a.find_all('tr',class_="table-body"):
    if z<=9:
        l=len(i.text.split())
        for j in range(1,l):
            b=i.text.split()[j]
            if b[0]=='1' or b[0]=='2' or b[0]=='3' or b[0]=='4' or b[0]=='5':
                k=j
                break
        t.append(' '.join(i.text.split()[1:k-1]))
        m.append(''.join(i.text.split()[k]))
        p.append(''.join(i.text.split()[k+1]))
        r.append(''.join(i.text.split()[k+2]))
        z=z+1
              
s_no=[]
for j in range(1,11):
    s_no.append(j)

pd.set_option("display.max_rows", None, "display.max_columns", None)
df5a=pd.DataFrame({'Team':t, 'Matches':m, 'Points':p, 'Ratings':r}, index=s_no)
print("Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.")
df5a

Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

            Team Matches Points Ratings
1        England      27  3,226     119
2    New Zealand      22  2,508     114
3          India      34  3,802     112
4       Pakistan      22  2,354     107
5      Australia      29  3,071     106
6   South Africa      24  2,392     100
7     Bangladesh      30  2,753      92
8      Sri Lanka      29  2,658      92
9    West Indies      41  2,902      71
10   Afghanistan      18  1,238      69

In [21]:
page5b=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")
page5b   #As the response is 200, we can proceed with this url

soup5b= BeautifulSoup(page5b.content)

a=soup5b.find('tr',class_="rankings-block__banner")    #Store the highest ranker
p=[]
t=[]
r=[]
l=len(a.text.split())
for j in range(2,l):
    b=a.text.split()[j]
    if b[0]=='9' or b[0]=='8' or b[0]=='7' or b[0]=='1':
        k=j
        break
p.append(' '.join(a.text.split()[2:k-1]))
t.append(''.join(a.text.split()[k-1]))
r.append(''.join(a.text.split()[k]))

z=1                                #Counter to get only top 10
for i in soup5b.find_all('tr',class_="table-body"):
    if z<=9:
        l=len(i.text.split())
        for j in range(2,l):
            b=i.text.split()[j]
            if b[0]=='9' or b[0]=='8' or b[0]=='7' or b[0]=='1':
                k=j
                break
        if i.text.split()[1]=='(0)':
            p.append(' '.join(i.text.split()[2:k-1]))
            t.append(''.join(i.text.split()[k-1]))
            r.append(''.join(i.text.split()[k]))
        else:
            p.append(' '.join(i.text.split()[15:k-1]))
            t.append(''.join(i.text.split()[k-1]))
            r.append(''.join(i.text.split()[k]))
        z=z+1
              
s_no=[]
for j in range(1,11):
    s_no.append(j)

pd.set_option("display.max_rows", None, "display.max_columns", None)
df5b=pd.DataFrame({'Batsmen':p, 'Team':t, 'Rating':r}, index=s_no)
print("Top 10 ODI Batsmen along with the records of their team and rating.")
df5b

Top 10 ODI Batsmen along with the records of their team and rating.

                  Batsmen Team Rating
1              Babar Azam  PAK    890
2             Imam-ul-Haq  PAK    779
3   Rassie van der Dussen   SA    766
4         Quinton de Kock   SA    759
5          Jonny Bairstow  ENG    732
6            David Warner  AUS    725
7             Virat Kohli  IND    722
8            Rohit Sharma  IND    718
9             Ross Taylor   NZ    701
10        Steve Smith AUS  697    752

In [22]:
page5c=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")
page5c   #As the response is 200, we can proceed with this url

soup5c= BeautifulSoup(page5c.content)

a=soup5c.find('tr',class_="rankings-block__banner")    #Store the highest ranker
p=[]
t=[]
r=[]
l=len(a.text.split())
for j in range(2,l):
    b=a.text.split()[j]
    if b[0]=='9' or b[0]=='8' or b[0]=='7' or b[0]=='6' or b[0]=='1':
        k=j
        break
p.append(' '.join(a.text.split()[2:k-1]))
t.append(''.join(a.text.split()[k-1]))
r.append(''.join(a.text.split()[k]))

z=1                                #Counter to get only top 10
for i in soup5c.find_all('tr',class_="table-body"):
    if z<=9:
        l=len(i.text.split())
        for j in range(2,l):
            b=i.text.split()[j]
            if b[0]=='9' or b[0]=='8' or b[0]=='7' or b[0]=='6' or b[0]=='1':
                k=j
                break
        if i.text.split()[1]=='(0)':
            p.append(' '.join(i.text.split()[2:k-1]))
            t.append(''.join(i.text.split()[k-1]))
            r.append(''.join(i.text.split()[k]))
        else:
            p.append(' '.join(i.text.split()[15:k-1]))
            t.append(''.join(i.text.split()[k-1]))
            r.append(''.join(i.text.split()[k]))
        z=z+1
              
s_no=[]
for j in range(1,11):
    s_no.append(j)

pd.set_option("display.max_rows", None, "display.max_columns", None)
df5c=pd.DataFrame({'Bowler':p, 'Team':t, 'Rating':r}, index=s_no)
print("Top 10 ODI Bowlers along with the records of their team and rating.")
df5c

Top 10 ODI Bowlers along with the records of their team and rating.

              Bowler Team Rating
1        Trent Boult   NZ    775
2     Josh Hazlewood  AUS    718
3   Mujeeb Ur Rahman  AFG    676
4     Shaheen Afridi  PAK    661
5      Mohammad Nabi  AFG    657
6       Mehedi Hasan  BAN    655
7         Matt Henry   NZ    654
8     Mitchell Starc  AUS    653
9        Rashid Khan  AFG    651
10    Jasprit Bumrah  IND    642